.landing{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%;
    color: white;
}
/* .landingInfo{
    color: white;
    margin-top: 5%;
} */
/* .landingInfo p{
    padding-bottom: 5%;
}
.landingInfo h1{
    padding-top: 5%;
    font-size: 50px;
}
.mouseClick{
    padding-bottom: 5%;
    padding-top: 8%;
} */