.landing{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%;
    color: white;
}
.services{
    background-image: url("../images/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.design-info, .dev-info, .product-info{
    display: none;
}

.card p{
    display: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    line-height: 5.5;
}
.card:hover{
    opacity: 0.6;
}